.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 5vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.header {
  background-color: black;
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;

  padding: 1rem;
}
.content label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.content input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  width: 50%;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  color: white;
  border-radius: 12px;
  width: 30%;
  font-weight: bold;
}
.editButton {
  border: 1px solid #ffab00;
  background: #ffab00;
  display: flex;
  justify-content: center;
}
.cancelButton {
  border: 1px solid #141718;
  background: #141718;
  display: flex;
  justify-content: center;
}

.editButton:hover {
  background-color: #eea106;
}

.cancelButton:hover {
  background: #2a3032;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
