.best-seller-content-text p {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
  color: #000;
}

@media (max-width: 576px) {
  .best-seller-content-text p {
    font-size: 34px;
    line-height: 38px;
    letter-spacing: -0.6px;
  }
}
