.brand-logos-content-slider-item img {
  width: 167px;
  height: 64px;
  object-fit: contain;
}
@media (max-width: 768px) {
  .brand-logos-content-slider-item img {
    width: 120px;
    height: 40px;
  }
}
